<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Parking Bee </title>
        <meta name="description" content="company is a free job board template">
        <meta name="author" content="Ohidul">
        <meta name="keyword" content="html, css, bootstrap, job-board">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/animate.css">        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/owl.transitions.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>

    	<!-- Preloading Icon -->
        <div id="preloader">
            <div id="status"> &nbsp; </div>
        </div>
       	
       	<!-- Nav Bar -->
        <nav class="navbar navbar-default" style="border: none">
          <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="index.html"><img src="img/logo.jpg" alt=""> &nbsp;&nbsp; Parking Bee </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div class="button navbar-right">
                  <a href="/list_your_spot"> <button class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.8s"> List Your Space </button> </a>
                  <a href="/#"> <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.6s"> </button> </a>
              </div>
              
              <ul class="main-nav nav navbar-nav navbar-right">
                <li class="wow fadeInDown" data-wow-delay="0s"><a href="/">Home</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.1s"><a href="/summer_parking_spaces"> Summer Parking Spaces </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="active" href="/how_it_works"> How it Works </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.3s"><a href="/jobs"> Jobs </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.4s"><a href="/contact"> Contact Us </a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="container how-it-works">
            <div class="col-lg-12">
                <div class="row">
                    <div class="" align="center">
                        <br>
                        <br>
                        <h2 style="color:#F7A448"> How it Works </h2>
                        <br>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2" align="Left">
                        <h3> <span style="color:#F7A448;"> &#8226; </span> Tap the app, find a spot </h3>
                            <h4 class="col-lg-offset-1"> 
                                <br>
                                Parking Bee is is the easiest way to find parking. One tap and find parking wherever you need it. A parking spot just for you, with no one to race with. We like things simple, payment is completely cashless.
                                <br><br>
                            </h4> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2" align="Left">
                        <h3> <span style="color:#F7A448"> &#8226; </span> Ready anywhere, anytime </h3>
                            <h4 class="col-lg-offset-1"> 
                                <br>
                                Football game. Visit a friend. Get to class. Late night drinks. Wherever you’re headed, count on Parking Bee for a spot - no parking meters needed.
                                <br><br>
                            </h4> 
                    </div>
                </div>

                <div class="row">
                     <div class="col-lg-8 col-lg-offset-2" align="Left">
                        <h3> <span style="color:#F7A448"> &#8226; </span> Short term to long term </h3>
                                 <h4 class="col-lg-offset-1">
                                    <br> 
                                    Find spots wherever you need it, for however long you need it. Whether it’s just a quick errand or for an entire semester, we’ve got your back. With Parking Bee, the choice is always yours.
                                    <br><br><br>
                                    <br><br>
                                </h4> 
                        </div>
                    </div>
                </div>
            </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
