<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Pizza Application </title>
        <meta name="description" content="company is a free job board template">
        <meta name="author" content="Ohidul">
        <meta name="keyword" content="html, css, bootstrap, job-board">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/animate.css">        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/owl.transitions.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    </head>

    <body>
    	
        <!-- Nav Bar -->
        <nav class="navbar navbar-default" style="border: none">
          <div class="container">

         	<!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
              <ul class="main-nav nav navbar-nav navbar-center">
              	<li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a class="active" href="/"> Home </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.1s"><a href="/summer_parking_spaces"> Order a Pizza </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/how_it_works"> View Pizzas Ordered </a></li>
              </ul>
            
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
        <div class="row">
            <div class="col-lg-12 front-page" align="center">
                <br><br>
                <br>
                <div class="wow bounceInLeft" data-wow-delay="0.8s" style="font-size: 300%; color:#F7A448;"> Sharkey's Pizza Shop </div>
                <br>
                <h3 class="wow bounceInLeft" data-wow-delay="0.10s"> This is an example application built for the DS 220 final project </h3>
                <br>
                <h3 class="wow bounceInLeft" data-wow-delay="0.12s"> This project was built by Christopher Sharkey </h3>
                <br>
                <h3 class="wow bounceInLeft" data-wow-delay="0.14s"> The database for this website is MongoBD </h3>
                <br>
                <h3 class="wow bounceInLeft" data-wow-delay="0.16s"> The code for this project can be found <a href="https://github.com/ev2900/DS_220_Project"> here </a> </h3>
                <br><br>
                <!-- <a href="/list_your_spot"> <button class="navbar-btn nav-button wow bounceInLeft login" data-wow-delay="0.18s" style="height:50px;"> List Your Space </button> </a> -->
                <br><br><br>
                <br><br>
            </div>
            </div>
        </div>

        <!-- <div class="footer">
            Hello World
            <br>
            <br>
        </div> -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>