<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Parking Bee </title>
        <meta name="description" content="company is a free job board template">
        <meta name="author" content="Ohidul">
        <meta name="keyword" content="html, css, bootstrap, job-board">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/animate.css">        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/owl.transitions.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>

    	<!-- Preloading Icon -->
        <div id="preloader">
            <div id="status"> &nbsp; </div>
        </div>
       	
        <!-- Nav Bar -->
        <nav class="navbar navbar-default" style="border: none">
          <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="index.html"><img src="img/logo.jpg" alt=""> &nbsp;&nbsp; Parking Bee </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div class="button navbar-right">
                  <a href="/list_your_spot"> <button class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.8s"> List Your Space </button> </a>
                  <a href="/#"> <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.6s"> </button> </a>
              </div>
              
              <ul class="main-nav nav navbar-nav navbar-right">
                <li class="wow fadeInDown" data-wow-delay="0s"><a href="/">Home</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.1s"><a href="/summer_parking_spaces"> Summer Parking Spaces </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/how_it_works"> How it Works </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.3s"><a class="active" href="/jobs"> Jobs </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.4s"><a href="/contact"> Contact Us </a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
		<div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" align="center">
                    <br>
                    <br>
                    <h2 style="color:#F7A448"> Find the place for you </h2>
                    <h4> Let’s make a world where we can focus on making memories, not finding parking. </h4>
                    <br>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" align="Left">
                    <h3> <span style="color:#F7A448;"> &#8226; </span> Create </h3>
                         <h4 class="col-lg-offset-1"> 
                            Help us build new experiences for our communities, as a team  
                         </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" align="Left">
                    <h3> <span style="color:#F7A448"> &#8226; </span> Learn </h3>
                            <h4 class="col-lg-offset-1">
                                 We move fast to do things that have never been done. 
                            </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" align="Left">
                    <h3> <span style="color:#F7A448"> &#8226; </span> Play </h3>
                            <h4 class="col-lg-offset-1"> 
                                Life includes work, but also fun. We make sure you enjoy it here.
                            </h4> 
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" align="Left">
                    <h3> <span style="color:#F7A448"> <br> Developers </span> </h3>
                             <h4>
                                <br> 
                                Every developer moves quickly and together. We solve challenges with elegant solutions. Search algorithms, security, growth - we’re constantly improving.  We’re always looking for talented help with Full Stack, Front End, Android, and iOS. 
                            </h4> 
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2" align="Left">
                    <h3> <span style="color:#F7A448"> <br> Business and Marketing </span> </h3>
                            <h4>
                                <br>
                                Our Business and Marketing teams are focused on innovating with flair and style. On top of our focus to establish Parking Bee as a familiar and engaging brand, we want to help our guests and hosts have the best experience possible.
                                <br><br><br>
                                <br><br>
                            </h4> 
                </div>
            </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
