<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Pizza Application </title>
        <meta name="description" content="company is a free job board template">
        <meta name="author" content="Ohidul">
        <meta name="keyword" content="html, css, bootstrap, job-board">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Red.svg/2000px-Red.svg.png" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/animate.css">        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/owl.transitions.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>

        <!-- Nav Bar -->
        <nav class="navbar navbar-default" style="border: none">
          <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
              <ul class="main-nav nav navbar-nav navbar-center">
                
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
				<li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                
                <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="active" href="/"> Order a Pizza </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/view_orders"> View Pizza Orders </a></li>
              </ul>
            
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        </div>
        
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12" align="center">
                    <br>
                    <br>
                    <h2 style="color:#FF0000"> Order A Pizza </h2>
                    <br>
                </div>
            </div>

            <div class="col-lg-8 col-lg-offset-2" align="center">
                
                <form id="submit-spot">
                
                    <!-- -->     
                    <div class="form-group">
                        <div class="col-lg-4" align="right"> <label for="first">First Name </label> <br> </div>
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="First" style="width: 70%;" id="firstt" autocomplete='off' required/> <br> </div>
                    </div>

                    <!-- -->
                    <div class="form-group">
                        <div class="col-lg-4" align="right"> <label for="lastt">Last Name</label> <br> </div>
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="Last" style="width: 70%;" id="lastt" autocomplete='off' required/> <br> </div>
                    </div>

                    <!-- -->
                    <div class="form-group">
                        <div class="col-lg-4" align="right"> <label for="phonee">Phone Number</label> <br> </div>
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="" style="width: 70%;" id="phonee" autocomplete='off' placeholder="Phone Number" required/> <br> </div>
                        <br>
                    </div>

                    <div align="left">
                        <h4> &nbsp; <br> </h4>
                    </div>

                                        <!-- -->
                    <div class="form-group">
                        <div class="col-lg-4" align="right"> <label for="typee"> Type of Pizza </label> <br> </div>
                        <div class="col-lg-8" align="left"> <select name="" class="form-control" style="width: 70%;" id="typee" autocomplete='off'>
                            <option selected> Select </option>
                            <option> Chese </option>
                            <option> Pepperoni </option>
                            <option> Sausage </option>
                            <option> Vegetable </option>
                        </select> <br> </div>
                        <br>
                    </div>

                    <div align="left">
                        <h4> &nbsp; <br> </h4>
                    </div>

                                        <!-- -->
                    <div class="form-group">
                        <div class="col-lg-4" align="right"> <label for="adress"> Delivery Adress </label> <br> </div>
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="" style="width: 70%;"  id="adress" autocomplete='off'> <br> </div>
                        <br>
                    </div>

                    <div align="left">
                        <h4> &nbsp; <br> </h4>
                    </div>

                    <!-- -->
                    <div class="form-group">
                        <div class="col-lg-4" align="right"> <label for="titlee"> Credit Card Number </label> <br> </div>
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="" style="width: 70%;" id="titlee" autocomplete='off'> <br> </div> 
                        <br>
                    </div>

                    <!-- -->
                    <div class="form-group">
                        <div class="col-lg-4" align="right"> <label for="titlee"> Name on Credit Card </label> <br> </div>
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="" style="width: 70%;" id="titlee" autocomplete='off'> <br> </div> 
                        <br>
                    </div>

                    <!-- -->
                    <div class="form-group">
                        <div class="col-lg-4" align="right"> <label for="startt" > Experation Date </label> <br> </div>
                        <div class="col-lg-8" align="left"> <input type="date" min="2016-01-01" max="2030-01-01" class="form-control" style="width: 70%;" id="startt" autocomplete='off'> <br> </div>
                        <br>
                    </div>

                    <!-- -->
                    <div class="form-group">
                        <div class="col-lg-4" align="right"> <label for="desriptionn"> Security Code </label> <br> </div>
                        <div class="col-lg-8" align="left"> <input type="text" class="form-control" placeholder="" style="width: 70%;" id="desriptionn" autocomplete='off'> <br> </div>
                    </div>

                    <!-- -->
                    <div>
                        <div class="col-lg-4" align="right"> </div>
                        <div class="col-lg-8" align="left"> <div class="col-lg-8" align="center">  <input type="submit" class="navbar-btn nav-button login btn" value="Submit"> <br><br><br><br> </div>
                    </div>
                </div>

                </form>
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/main.js"></script>
        <script src="js/ajax/pizza_order.js"></script>
    </body>
</html>
