<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Parking Bee </title>
        <meta name="description" content="company is a free job board template">
        <meta name="author" content="Ohidul">
        <meta name="keyword" content="html, css, bootstrap, job-board">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/fontello.css">
        <link rel="stylesheet" href="/css/animate.css">        
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/owl.theme.css">
        <link rel="stylesheet" href="/css/owl.transitions.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>

        <!-- Nav Bar -->
        <nav class="navbar navbar-default" style="border: none">
          <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
              <ul class="main-nav nav navbar-nav navbar-center">
                
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>

                <li class="wow fadeInDown" data-wow-delay="0s"><a href="/"> Home </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="active" href="/list_your_spot"> Order a Pizza </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="/summer_parking_spaces"> View Pizza Orders </a></li>
              </ul>
            
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        
        <div class="container">
            
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11" align="center">
                    <br>
                    <h2 style="color:#F7A448">  </h2>
                </div>
            </div>

            <div class="row">
                
                <div class="col-lg-1"></div>
                <div class="col-lg-11" align="center">
                    <br><br>
                    <br><br>
                    <h1 style="color:#F7A448"> Thank you </h1>
                    <br><br>  
                    <h3> We appreciate your order </h3>
                    <h3> We will deliver you Pizza</h3>
                    <h3> With in 30 min </h3>
                    
                    <br>
                    <br>
                    <br>
                    
                    <a href="/"> <input class="btn" value="Home" style="background-color: #FFF; color: #F7A448; width: 125px; height: 50px; font-size: 20px;"> </a>
                    <a href="/list_your_spot"> <input class="btn navbar-btn nav-button login btn" value="Order Another" style="width: 125px; height: 50px; background-color: #F7A448; color: #FFF; font-size: 15px;"> </a>
                    
                    <br><br>
                    <br><br>

                    <form action="" class=" form-inline">
                        <div class="form-group" >
                        <input type="hidden" class="form-control" placeholder="" style="width: 300px;" id="email_email" autocomplete='off' value='<%= email_email %>'>
                        <br><br>
                        <input type="hidden" class="form-control" placeholder="" style="width: 300px;" id="id_id" autocomplete='off' value='<%= id_id %>'>
                        <br><br>
                    </form>

                </div>

            </div>

        </div>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/ajax/thank_you_list.js"></script>
    </body>
</html>
