<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Pizza Application </title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Red.svg/2000px-Red.svg.png" type="image/x-icon">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/animate.css">        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/owl.transitions.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    
    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-default" style="border: none">
          <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
              <ul class="main-nav nav navbar-nav navbar-center">
                
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                <li class="wow fadeInDown" data-wow-delay="0s"><a href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
                
                <li class="wow fadeInDown" data-wow-delay="0.1s"><a href="/"> Order a Pizza </a></li>
                <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="active" href="/view_orders"> View Pizza Orders </a></li>
              </ul>
            
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
		
        <!-- Body -->
        <div class="container">
            <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
                    <h2> <span style="color: #F7A448"> <!-- 4 --> </span> Pizza Orders Placed </h2>
                    <br><br>
            </div>

           <div class="row" align="center">
                <div class="row" align="center">
                    <div class="col-md-12" align="center">
                        <div class="job-posts " align="center">
                                <div class="odd wow fadeInUp" data-wow-delay="1s" id="spotz">
                                    
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>  
            
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/main.js"></script>
        <script src="js/ajax/view_order.js"></script>

    </body>
</html>
